<!DOCTYPE html>
<html>
        <head>


    <body>
        <title>شیرینی پزی</title>
        <center>
            <h1 class="title">ღ꧁ღ╭⊱ꕥ    شیرینے ؋ـروشے لنا ꕥ⊱╮ღ꧂ღ</h1>
        </center>
    
    <img src="https://dunro.com/sites/default/files/dkkdgt98uadb_NcCW9i9QyYkcg0UMoCU4C_Sweet%20%281%29.jpeg" height="780">
    
    <h1 dir="rtl">تاریخچه ی شیرینی پزی:</h1>
    <pr dir="rtl">هنوز کسی نمی داند که اولین شیرینی در کجا و در چه زمانی خلق شد. شاید توسط یک مادر که برای خوشحال کردن فرزندش آرد را با آب و مواد مختلف شیرینی زا ترکیب کرد تا خوراکی جدیدی درست کند خلق شد. شاید یک نانوا برای جذب مشتری بیشتر دست به همچین کاری زده باشد. و صد ها شاید دیگر…اما موضوعی که مهم است جایگاه کیک و شیرینیی در زندگی امروزه ی ماست. حتی با ترکیب کردن کمی شکر و شیره انگور و سرخ کردن آن در روغن ما به جای نان، شیرینی خواهیم داشت. به همین جهت در ابتدا شیرینی جزء محصولات جانبی نانوایی ها بوده است.</pr>
     <h1 dir="rtl">انواع شیرینی ها:</h1>   
    
    <h1 dir="rtl">کیک</h1>
    <center>
        <a href="https://chishi.ir/104-cake-esfanji/">برای ذریافت اموزش کیک اسفنجی کلیک کنید</a>
    </center>
    <h1 dir="rtl">کاپ کیک</h1>
    <center>
        <a href="https://ashmazi.com/chocolate-cup-cake-recipe/">برای دریافت اموزش کاپ کیک کلیک کنید</a> 
    </center>
    <h1 dir="rtl">نون خامه ای</h1>
    <center>
        <a href="https://panamag.ir/649-nan-khamei/">برای دریافت اموزش نون خامهای کلیک کنید</a>
    </center>
    
    </body>
    <style>
        .title {
            color: palevioletred;
        }
           
    </style>
    
    <a href="https://www.aparat.com/v/FLj9Y/%D8%B3%D8%A7%D8%AF%D9%87_%D8%AA%D8%B1%DB%8C%D9%86_%D8%AF%D8%B3%D8%AA%D9%88%D8%B1_%D8%AA%D9%87%DB%8C%D9%87_%DA%A9%DB%8C%DA%A9_%D8%A7%D8%B3%D9%81%D9%86%D8%AC%DB%8C_%D9%BE%D9%81%D8%AF%D8%A7%D8%B1">اموزش ویدیویی</a>
    <source src="demo.mp3" type="audio/mpeg">



        </head>
    </body>
</html>



